:root{
	--fg-green: #80cd29;
	--bg-green: #163919;
}

body{
	margin: 0;
	padding: 0;
}

.navbar{
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
	background: var(--bg-green);
	width: 100%;
	display: flex;
	align-items: center;
}

.list{
	list-style: none;
	display: flex;
	flex-direction: row;
}

.list-link{
	text-decoration: none;
	color: var(--fg-green);
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	margin: 0 10px;
	font-weight: bold;
}

.list-link:hover{
	text-decoration: underline;
}

.list-item{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 0 10px;
	background-color: black;
	border-radius: 18px;
	padding: 7px;
}

.logo{
	margin: 10px;
	fill: white;
}

.foglia{
fill: var(--fg-green);
}
