:root{
	--chiaro: #8cc63e;
	--scuro: #163919;
	--bianco: #f6f6f6;
}

body{
	margin: 0;
	padding: 0;
	background: var(--bianco);
	user-select: none;
	min-height: 100%;
}

.main-header{
	padding: 0;
	margin: 0;
	height: 100vh;
	width: 100%;
	background-image: url(https://s1.1zoom.me/b5449/743/Agricultural_machinery_Fields_2011-17_Claas_Axion_532445_1920x1080.jpg), linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)); 
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: overlay;
}

.navbar{
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
	background: var(--scuro);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: left;
}

.logo{
	margin: 10px;
	fill: white;
	vertical-align: bottom;
	margin-right: 50px;
}

.foglia{
	fill: var(--chiaro);
}

.list{
	list-style: none;
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
}

.list-item{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 0 6px;
}

.list-link{
	text-decoration: none;
	color: var(--bianco);
	font-size: 17.5px;
	font-family: 'Roboto', sans-serif;
	margin: 0 5px;
	font-weight: bold;
}

.list-link:hover{
	text-decoration: underline;
	color: var(--bianco);
}


footer{
	position: relative;
	bottom: 0;
	background: var(--scuro);
	color: var(--bianco);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer.fix{
	position: fixed;
}
footer > p{
	margin: 1rem;
}

.nav {
	display: flex;
	flex-direction: column;
	min-width: 125px;
	max-width: 200px;
	position: relative;
	top: 10px;
}
.nav-item{
	min-width: 175px;
}
.nav-link{
	width: auto;
	display: flex;
	align-items: center;
	color: var(--scuro);
	font-weight: 500;
}
.nav-pills .nav-link.active{
	background-color: var(--scuro);
	color: var(--bianco);
	border-radius: 15px;
	width: 175px;
}

.nav-link:hover{
	color: var(--chiaro);
}

.container{
	display: flex;
	flex-direction: row;
	column-gap: 100px;
}
.tab-content{
	width: 935px;
}

.nav-link svg{
	display: none;
}
.nav-link.active svg{
	display: inline;
	position: relative;
	margin-right: 6px;
}