:root{
	--chiaro: #8cc63e;
	--scuro: #163919;
	--bianco: #f6f6f6;
}

.contatti{
	margin-left: 50px;
	background: var(--bianco);
}

.contattaci{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.map iframe{
	margin-top: 50px;
	margin-left: 100px;
	border: 3px solid var(--scuro);
	border-radius: 10px;
}