@import url(/styles/basic.css);

:root{
	--chiaro: #8cc63e;
	--scuro: #163919;
	--bianco: #f6f6f6;
}

.main-header{
	background-image: url(https://s1.1zoom.me/b5449/743/Agricultural_machinery_Fields_2011-17_Claas_Axion_532445_1920x1080.jpg), linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)); 
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: overlay;
}

.nav {
	display: flex;
	flex-direction: column;
	min-width: 125px;
	max-width: 200px;
	position: relative;
	top: 10px;
}

.nav-item{
	min-width: 175px;
}
.nav-link{
	width: auto;
	display: flex;
	align-items: center;
	color: var(--scuro);
	font-weight: 500;
}
.nav-pills .nav-link.active{
	background-color: var(--scuro);
	color: var(--bianco);
	border-radius: 15px;
	width: 175px;
}

.nav-link:hover{
	color: var(--chiaro);
}

.container{
	display: flex;
	flex-direction: row;
	column-gap: 100px;
}
.tab-content{
	width: 935px;
}

.nav-link svg{
	display: none;
}
.nav-link.active svg{
	display: inline;
	position: relative;
	margin-right: 6px;
}